
<div class="info">
    <div class="InfoBox" *ngFor="let item of infoData">

        <div class="top">
            <div [class]="item.color">
                <i class='material-icons'>{{item.icon}}</i>
            </div>

            <div class="text">
                <p>{{item.name}}</p>
                <h3>{{item.info}}</h3>
            </div>
        </div>

        <div class="title">
            <p>{{item.subTitle}}</p>
        </div>
    </div>
</div>


<div class="diagram">
    <div class="DiagramBox" *ngFor="let diagram of Diagram">

        <div [class]="diagram.color">
            <div class="numbers">
                <p *ngFor="let item of diagram.number">{{item}}</p>
            </div>

            <div class="diagramItself">
            123.i.
            </div>

            <div class="date">
                <p *ngFor="let date of diagram.date">{{date}}</p>
            </div>
        </div>

        <div class="text">
            <h3>{{diagram.name}}</h3>
            <br>
            <p>{{diagram.info}}</p>
        </div>
        <div class="title">
            <i [class]='diagram.icon'></i>
            {{diagram.subTitle}}
        </div>
    </div>
</div>

<div class="tasks">
    <div class="box">

    </div>
</div>

<div class="employee">
    <div class="box">

    </div>
</div>
