@font-face{
    font-family:Robto;
    src: url(assets/Fonts/Roboto-Black.ttf);
}
body{
    margin:0;
    padding:0;
    background:#EDEDED;
    font-family: Roboto;
}
p,h1,h2,h3,h4,h5,input,button,div{
    display:inline;
    outline:0;
    border:0;
}